/*   .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.
`._.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._  C S S _.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'  `._.'*/

body {
    background-color: #eee;
    min-height: 0px;
}

/*--------------------------------------------------- H E A D E R ----------------------------------------------------*/

.header-menu-search-form {
    margin-top: 3.5%;
    margin-bottom: 0px;
}
.header-menu-search-glyph-div {
    background-color: white;
    /*border-right: 1px solid #ccc;*/
}
.header-menu-search-field {
    /*border: 0px solid #ccc;*/
    border-radius: 0px 5px 5px 0px;
}
.header-menu-search-result-div {
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid #929292;
    border-radius: 5px;
    width: 59.5%;
}
.header-menu-search-result-a {
    padding-left: 10px;
    padding-top: 10px;
}
.header-menu-search-result-separate {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #f8f8f8;
}

/*------------------------------------------------- A C C O U N T page -----------------------------------------------*/

.account {
    width: 970px;
    background-color: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
}
.account-container-fix {
    width: 970px;
}
.account-row {
    background-color: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
}
.accuploadphototext {
    position: absolute;
    padding-top: 39%;
    margin-left: -49px;
    color: white;
}
.accavatar {
    text-align: center;
}
.acc-descr-for-edit-filed {
    padding-top: 14px;
    padding-bottom: 3px;
}
.acc-friend-status {
    font-size: 0.5em;
    font-weight: 400;
    text-decoration: none;
}
.acc-head-for-empty-page {
    text-align: center;
    padding-bottom: 10px;
}
.acc-hr-between-module {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 10px solid #eee;
    width: 105%;
    margin-left: -15px;
}
.account-avatar-for-friend-cell {
    width: 70px;
    height: 70px;
    margin-top: 20px;
}
.account-group-avatar {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.account-public-msg-div {
    background-color: #fff;
    margin-bottom: 4%;
    padding: 2%;
    margin-left: 1px;
    margin-right: 1px;
}
.account-glyph-public-msg {
    font-size: 1.2em;
    margin-top: -5px;
    color: rgba(74, 155, 217, 0.81);
}
.account-label-for-public-messages {
    transform: rotate(-90deg) scale(1, 1.3);
    color: #f6f6f6;
    font-size: 2em;
}
.account-menu-for-public-message-div {
    margin-top: -12%;
    margin-left: 21%;
    padding-right: 30px;
    padding-bottom: 35px;
}

/*---------------------------------------------------- E D I T page --------------------------------------------------*/

.edit-check-box {
    text-align: center;
    padding-bottom: 10px;
}
.edit-head {
    text-align: center;
    background-color: #a0a0a0;
    padding-bottom: 7px;
    padding-top: 3px;
    color: white;
}
.edit-save-btn {
    border-radius: 0px;
    width: 100%;
}
.edit-phone-description {
    width: 35%;
    display: inline;
}
.edit-phone-number {
    width: 50%;
    display: inline;
}
.edit-add-phone-btn {
    text-align: center;
}
.edit-delete-phone-btn {
    border-radius: 20px;
    margin-top: -3px;
    display: inline;
    width: 12.2%;
    height: 35px;
}

/*------------------------------------------------- F R I E N D S page -----------------------------------------------*/

.friendCol {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.friendCell {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #3ab3c3;
    border-radius: 3px;
}
.friendDelete {
    margin-top: -10px;
    font-size: 0.8em;
    color: #d9534f;
}
.friendDelete:hover {
    color: #d9534f;
}
.page-header-separate {
    border: 0px dashed #f8f8f8;
    padding-top: 1px;
    margin-top: -2px;
}

/*------------------------------------------------- R E Q U E S T S page ---------------------------------------------*/

.requestCol {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.requestCell {
    padding-left: 20px;
    padding-bottom: 60px;
    padding-top: 20px;
    border: 1px solid #9cc394;
    border-radius: 3px;
}
.request-cell-header {
    font-size: 1.2em;
}
.request-form-inline-fix {
    margin-bottom: 0%;
    padding-top: 1.0%;
}
.request-btn-position {
    padding-left: 0px;
    padding-right: 10px;
}

/*------------------------------------------------ M E S S A G E S page ----------------------------------------------*/

.messages-account-avatar {
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
}
.messages-account-msg-frame {
    padding: 20px;
    overflow: scroll;
    height: 400px;
    position:relative;
}
.messages-account-send-btn {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
    margin-top: -1px;
}
.messages-account-right-msg {
    background-color: #d9edf7;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.messages-account-left-msg {
    background-color: #fcf8e3;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}

/*-------------------------------------------------- G R O U P S page ------------------------------------------------*/
.group-search-div {
    margin-bottom: 2.5%;
}
.group-search-glyphicon {
    font-size: 2.3em;
    color: #95b28a;
    padding-top: 1%;
    margin-right: 1%;
}
.group-search-input {
    width: 100% !important;
    text-align: center;
    font-size: 1.6em;
    border-radius: 3px;
    height: 45px;
}
.group-stats-glyphicon-first {
    padding-left: 3%;
    padding-right: 4%;
}
.group-stats-glyphicon {
    padding-left: 6%;
    border-left: solid 1px #949494;
}

.group-btn-create {
    background-color: #9cc394;
    border-color: #80a17a;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 25px;
}
.group-btn-create:hover,
.group-btn-create:active,
.group-btn-create:focus {
    background-color: #7ac37d;
    border-color: #6fb272;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 25px;
}

.input2::-webkit-input-placeholder       {color:#E1E1DD; text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2:focus::-webkit-input-placeholder {color:#E1E1DD; text-indent: 100%; transition: text-indent 0.3s ease;}

.group-search-result-div {
    position: absolute;
    background-color: #9cc394;
    border: 1px solid #929292;
    border-radius: 2px;
    width: 637px;
    z-index: 999;
    padding-bottom: 20px;
    font-size: 1.2em;
}

/*   .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.
`._.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._  3rd-party css _.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'*/

.bs-calltoaction{
    position: relative;
    width: auto;
    padding: 0px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 0 auto;
}
.bs-calltoaction > .row{
    display:table;
    width: calc(100% + 30px);
}
.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}
.cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
}
.cta-title{
    margin: 0 auto 0;
    padding: 0;
}
.cta-desc{
    padding: 0;
}
.cta-desc p:last-child{
    margin-bottom: 0;
}
.cta-button{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}
.bs-calltoaction.bs-calltoaction-success{
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
    color: #616161;
    border-color: #eea236;
}
.bs-calltoaction.bs-calltoaction-success .cta-button .btn {
    border-color:#fff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * Tabs panel custom by Gleb * * * * * * * * * * * * * * * * * * * * */
.tabbable-panel {
    margin-top: -5px;
}
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    width: 49.5%;
    text-align: center;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #e9fae6;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
/*.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}*/
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #9cc394;
    position: relative;
    width: 50%;
    text-align: center;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #f8f8f8;
    border: 0;
    border-top: 1px solid #eee;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * Button 'create group' * * * * * * * * * * * * * * * * * * * * * */

.btn3d {
    position:relative;
    top: -6px;
    border:0;
    transition: all 40ms linear;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:2px;
    margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
    outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #91b589 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #88aa81, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#9cc394;
}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #91b589 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #9cc394;
}
/*.btn3d.btn-warning {
     box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0,0,0,0.5);
     background-color:#FEAF20;
}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #FEAF20;
}*/
