body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

/* SignIn */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
    text-align: center;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-primary {
    background-color: #007cc5;
}

/* SignUp */
form {
    margin: 0px 10px;
}
h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}
.container {
    max-width: 360px;
}
.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.divider hr {
    margin: 7px 0px;
    width: 35%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.btn-primary {
    background-color: #007cc5;
}
.panel-primary {
    border-color: #007cc5;
    border-radius: 0px;
}
.control-label {
    font-weight: normal;
}